@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_normalize.scss"
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_variables.scss"
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_mixins.scss"
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_utilities.scss"
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_navs.scss"

$padding: 0.3em
$big-padding: 1em
$sidebar-width: 180px

.main
	body
		text-align: center

	h1
		color: orange
		font-size: 16em
		margin: 20px 0

	.check.me.out
		border: 1px solid blue
		border-radius: 6px
		background: #efefef
		padding: 1em
		display: inline-block

.navbar
	position: fixed
	top: 0
	bottom: 0
	left: 0
	overflow: scroll
	width: $sidebar-width
	background: #efefef

	li

		a
			text-decoration: none
			color: inherit

			&:hover
				color: #333
				background: #ddd

		&.active
			background: #ccc

.content
	position: absolute
	left: $sidebar-width + 1px
	right: 0
	padding-left: $big-padding
	box-shadow: 0 0 6px rgba(0,0,0,0.3)

	font-family: 'Georgia', serif
	font-size: 20px

	h1
		font-size: 2em
		margin-top: 1em
		padding-top: 4em

		&:first-child
			margin-top: 0
			padding-top: 3em

	li
		margin-bottom: $padding

		ul
			margin-top: $padding

	p
		margin-top: 0

	p, li
		& > code
			background: #efefef
			border-radius: 3px
			padding: 1px 2px

	pre
		margin-left: -$big-padding

		code
			padding-left: $big-padding
