.main
	body
		text-align: center

	h1
		color: orange
		font-size: 16em
		margin: 20px 0

	.check.me.out
		border: 1px solid blue
		border-radius: 6px
		background: #efefef
		padding: 1em
		display: inline-block

.talk
	font-family: 'Georgia', serif

	h1
		font-size: 2em
		margin-top: 5em

	li
		margin-bottom: 0.3em

	p
		margin-top: 0